<div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{{ path('app_index') }}">
                                 <img src="{{ asset('images/logo.png') }}" alt="#" id="logo"/>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
                 <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                     </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item">
                                 <a class="nav-link" href="{{ path('app_index') }}">Inicio</a>
                           </li>
                           
                           <li class="nav-item">
                                 <a class="nav-link" href="{{ path('eventos_index') }}">Ver Eventos</a>
                           </li>
                          <li class="nav-item">
                                 <a class="nav-link" href="{{ path('todas_actividades') }}">Ver Actividades</a>
                           </li>
                           {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                 {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                       <a class="nav-link" href="{{ path('admin') }}">Administración</a>
                                    </li>
                                 {% endif %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                                 </li>
                           {% else %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesión</a>
                                 </li>
                           {% endif %}
                        </ul>
                     </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <style>
   .header {
    padding: 20px 0;
}

.logo_section .logo img {
    max-width: 100px; 
    top: -17px;
}

.navbar-dark {
    background-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000; 
    transition: color 0.3s, background-color 0.3s;
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #000000;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
    background-color: #000000;
}

.navbar-toggler {
    border-color: #000000; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.full, .center-desk, .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logo {
    max-width: 100%;
    height: auto;
}

</style>