<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Basic meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Site meta tags -->
    <title>{% block title %}IES Las Fuentezuelas{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ asset('images/fevicon.png') }}" type="image/gif" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!-- MDBootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/listaActividad.css') }}">
    {% endblock %}
</head>
<body>
  {% include 'header.html.twig' %}

  <div class="container mt-4">
    <div class="row">
      {% for actividad in actividades %}
        {% if loop.index0 < random_images|length %}
            {% set random_image = random_images[loop.index0] %}
        {% else %}
            {% set random_image = 'default_image_path.jpg' %} 
        {% endif %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
              <img src="{{ asset(random_image) }}" alt="Imagen Aleatoria" class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">{{ actividad.descripcion }}</h5>
                  <p class="card-text">{{ actividad.descripcion }}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a href="{{ path('actividad_descargar', {'id': actividad.id}) }}">
                      <img src="{{ asset('images/descarga-de-archivos.png') }}" alt="Icono de descarga">
                  </a>
                   {% if actividad.getDetalleActividads()|length > 0 %}
                                <div class="subactividades">
                                    <h6>Subactividades:</h6>
                                    <ul>
                                        {% for detalleActividad in actividad.getDetalleActividads() %}
                                            <li>{{ detalleActividad.descripcion }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                       {% endif %}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</body>
</html>
