<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Basic meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Site meta tags -->
  <title>{% block title %}IES Las Fuentezuelas{% endblock %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  <!-- Favicon -->
  <link rel="icon" href="{{ asset('images/fevicon.png') }}" type="image/gif" />
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  <!-- MDBootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" />
  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/listaActividad.css') }}">
  {% endblock %}
</head>
  {% include 'header.html.twig' %}
{% block body %}

       
<div class="container">
    <div class="row">
        {% for actividad in actividades %}
         {% if loop.index0 < random_images|length %}
            {% set random_image = random_images[loop.index0] %}
        {% else %}
            {% set random_image = 'default_image_path.jpg' %} 
        {% endif %}
        <div class="col-md-4">
            <div class="card {% if loop.index0 % 3 == 1 %}elevate{% endif %}">
                <a href="#">
                    <img  src="{{ asset(random_image) }}"  class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ actividad.descripcion }}</h5>
                        <p class="card-text">
                            Fecha Inicio: {{ actividad.fechaHoraIni|date("d-m-Y H:i:s") }}<br>
                            Fecha Fin: {{ actividad.fechaHoraFin|date("d-m-Y H:i:s") }}
                        </p>
                        {% if actividad.evento %}
                        <p class="card-text">Evento: {{ actividad.evento.titulo }}</p>
                        {% endif %}
                        <p class="card-text">
                            <small class="text-muted">
                                <i class="fas fa-eye"></i> 1000
                                <i class="far fa-user"></i> admin
                                <i class="fas fa-calendar-alt"></i> {{ actividad.fechaHoraIni|date("d-m-Y") }}
                            </small>
                        </p>
                        <a href="{{ path('detalle_actividad', {'id': actividad.id}) }}" class="btn btn-primary">Ver
                            Detalles</a>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>
